<!DOCTYPE html>
<html>
<head>
  <title>Tasks Index</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div id="container">
    <h1>Tasks</h1>
    <p id="welcome">Welcome back, <%= current_user.username %></p>
    <%= link_to 'Add Task', new_task_path, class: 'button' %>

    <ul>
    <% @tasks.each do |task| %>
        <li class="task <%= 'completed' if task.completed %>">
        <%= task.name %>
        <%= link_to 'Check', complete_task_path(task), method: :patch, class: 'button' unless task.completed %>
        <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
        </li>
    <% end %>
    </ul>

    <div id="logout_div"><%= link_to 'Log Out', logout_path, method: :delete, class: 'button' %></div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('ul').scrollTop = 0;
    });
  </script>
</body>
</html>