<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <div id="container">
    <h1>Dashboard</h1>
    <p id="welcome">Welcome back, <%= current_user.username %></p>
    
    <!-- Updated Add Task Button with link -->
    <div id="add-note"><%= link_to 'Add Task', new_task_path %><i class="fas fa-plus"></i></div>

    <ul>
      <% @tasks.each do |task| %>
        <li class="task <%= 'completed' if task.completed %>">
          <div class="task-name"><%= task.name %></div>
          <% unless task.completed %>
            <%= link_to complete_task_path(task), method: :patch, data: { confirm: 'Are you sure you want to mark this task as complete?' }, class: 'checkout' do %>
              Check <i class="fas fa-check"></i>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div id="logout_div"><%= link_to 'Log Out', logout_path, method: :delete, class: "logout_class" %></div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.querySelector('ul').scrollTop = 0;
    });
  </script>
</body>
</html>
