<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

</head>
<body>
  <div id="container">
    <h1>Welcome to My TO-DO App!</h1>
  
    <a id="go_to_login" href="<%= login_path %>">Go to Log In</a>
    
    <div id="signup-prompt">
      Not signed up yet? <a href="<%= signup_path %>">Sign up</a>
    </div>
  </div>
  <%= yield %>
</body>
</html>
